@media (min-width: 320px) {
  .app-user-name{
    font-size: 5.5rem !important;
    padding: 2rem !important;
  }
  figure.wow{
    width: 30rem;
    margin-left:10%;
    margin-top: 3%;
  }
  .nav > li{
    padding: 0px;
    margin-right:0px; 
    font-size:1.9rem;
  }
  .navbar-brand{
    margin:0 auto;
  }
  p{
    font-size: 2rem;
  }
  .app-btn-show-more{
    font-size: 1rem;
    padding: 2rem;
  }
  .app-p-footer{
    font-size: 1.5rem !important;
  }
  #about_page{
    padding-top: 10rem
  }
  .footer-bottom > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > span:nth-child(1){
    padding-left:10%;
    padding-right:10%;
    font-size:1.5rem;
  }
  .footer-bottom > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    width:50%;
  }
}
@media (min-width: 576px) {
  .app-user-name{
    font-size: 5.5rem !important;
    padding: auto !important;
  }
  figure.wow{
    width: 30rem;
    margin-left:30%;
    margin-top: 2%;
  }
  .nav > li{
    padding: 0px;
    margin-right:0px; 
    font-size:1.9rem;
  }
  .navbar-brand{
    margin:0 auto;
  }
  p{
    font-size: 2rem;
  }
  .app-btn-show-more{
    font-size: 1rem;
    padding: 2rem;
  }
  .app-p-footer{
    font-size: 1.5rem !important;
  }
  #about_page{
    margin-top: -10rem !important;
  }
  .footer-bottom > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > span:nth-child(1){
    padding-left:10%;
    padding-right:10%;
    font-size:1.5rem;
  }
  .footer-bottom > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    width:50%;
  }
}

@media (min-width: 768px) {
  figure.wow{
    margin-bottom: 10%;
  }


}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}